footer {
    background: linear-gradient(90deg, #000000, #060224, #1b2046);
    color: rgb(0, 136, 255); 
    width: 100%; 
    text-align: center; 
    padding-top: 20px; 
    border-top: 2px solid #0088ff;
    position: fixed;
    bottom: 0; 
    left: 0; 
}

footer .icon {
    border: solid 1px #0088ff;
    padding: 3px;
    opacity: 0.85;
    width: 40px;
    height: 35px;
    transition: all 0.3s ease;

}

footer .icon:hover {
    opacity: 1;
    filter: drop-shadow(0 0 1px #0088ff);
    transform: scale(1);
}

footer .footer-icons {
    display: inline-block;
    margin-left: 12px;
    margin-top: 11px;
    border-bottom: solid 0.5px #0088ff;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0088ff;
    color: white;
    border: 2px solid #0088ff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.button:hover {
    background-color: #006eff;
    color: rgb(255, 255, 255);
    border-color: #0055ff;
    border-radius: 5px;
}

.footer-contacto {
    display:inline-block;
    margin-bottom: 0.4px;
    border-bottom: solid 0.5px #0088ff;
}